<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angularjs/shopping_cart.js"></script>
</head>
<body ng-app="cart" ng-controller="ShoppingCart">
	<div class="row">
		  	<div class="col-xs-12 heading">Shopping Cart Application</div>
		    <div class="col-xs-12 title"></div>
	 </div>
	 
	 <div class="row">
		<div class="col-md-12">
			<div class="row">
				<div ng-if="errorMessage">
					<span class="alert alert-warning">{{errorMessage}}</span>
				</div>
				<div class="col-md-6 select border-right">
					<strong style="text-decoration: underline;">Add items to cart</strong>
					<div class="col-md-12 list" style="text-align: left">
						<div ng-repeat="product in products">
							<div class="row">
								<div class="col-md-12">
									<p>{{product.product_name}}</p>
									<img class="image" ng-model="image" ng-src="{{product.product_image}}">
									<p class="font">${{product.product_price}}</p>
									<div class="input-group spinner" style="margin-bottom:20px;">
	    							<input type="text" class="form-control" ng-model="product.product_quantity">
	   					 			<div class="input-group-btn-vertical">
	      								<button class="btn btn-default" type="button" ng-click="product.product_quantity = product.product_quantity + 1"><b class="fa fa-caret-up">+</b></button>
	      								<button class="btn btn-default" type="button" ng-click="product.product_quantity = product.product_quantity - 1"><b class="fa fa-caret-down">-</b></button>
	    							</div>
	  								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 select">
					<strong style="text-decoration: underline;">Your Shopping Cart</strong>
					<div class="col-md-12 list" style="text-align: left">
  					<div ng-repeat="item in cart">
						<div class="row">
							<div class="col-md-12">
								<p>{{item.product_name}}</p>
								<img class="image" ng-model="image" ng-src="{{item.product_image}}">
								<p class="font">Amount: ${{item.product_price}}</p>
								<p class="deliveryfont">Quantity: {{item.product_quantity}}</p>
							</div>
						</div>
					</div>
					<div class="total" ng-if="total">Cart Total: ${{total}}</div>
					</div>
				</div>
				
			</div>			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<input type="submit" class="btn btn-success button" ng-click="addToCart();" value="Add to Cart" />
		</div>
	</div>
	
</body>
</html>
